.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
  overflow-x: hidden;
}
