.rectangle {
  width: 1150px;
  height: 170px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-left: 20px;
  padding-top: 10px;
}

.rectangle:hover {
  background-color: lightgray;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
